.random-phrase {
	margin-top: auto;
	margin-bottom: auto;
}

.sponsors {

	display: inline-block;
	font-size: 2em;

}

.sponsor-title {
	font-size: 2em;
	font-variant: small-caps;
}

.contact {
	font-size: 1.3em;
}

.fix-text {
	padding-top: 0px;
}

.caps-text {
	font-variant: small-caps;
	font-size: 1.5em;
}

#mc-win {
	padding-left: 30px;
}

#samtec {
	margin-top: 20px;
}